<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="yuyitosEntities" connectionString="metadata=res://*/YuyitosEntities.csdl|res://*/YuyitosEntities.ssdl|res://*/YuyitosEntities.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/orcl;PASSWORD=YUYITOS;PERSIST SECURITY INFO=True;USER ID=YUYITOS&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>